/*body*/
.container{
    margin-top: 5rem;
}
p {
    text-indent: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
.btn{
    margin-top: 30px;
    background-color:green;
}

.seeMorebtn{
    text-align: center;
}
.display{
    float: left;
    margin-bottom: 0.3rem;
}

/*user form*/
.search-form p {
    font-size: 30px;
    margin: 0;
    justify-content: left;
    align-items: left;
    /*position: sticky;*/
}

